[package]
name = "cloud-config"
version = "6.6.1"
authors = ["Rivtower Technologies <contact@rivtower.com>"]
license = "Apache-2.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = { version = "3.2", features = ["derive"] }
log = "0.4"
serde = { version = "1", features = ["derive"] }
crypto_sm = { git = "https://github.com/cita-cloud/crypto_sm", package = "crypto" }
crypto_eth = { git = "https://github.com/cita-cloud/crypto_eth", package = "crypto" }
toml = "0.5"
hex = "0.4"
rcgen = { version = "0.9", features = ["pem", "x509-parser"] }
x509-parser = "0.14"
rand = "0.7" # match with ophelia
libsm = "0.5.0"
k8s-openapi = { version = "0.15", features = ["v1_23"] }
serde_yaml = "0.9"
ophelia = "0.3"
ophelia-blst = "0.3"

[profile.release.package."*"]
# Set the default for dependencies.
debug = 0

[profile.release]
# Add debug info -- line tables only
debug = 1
