[package]
name = "cloud-config"
version = "6.3.3"
authors = ["Yieazy <yuitta@163.com>"]
license = "Apache-2.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = { version = "3.1.6", features = ["derive"] }
log = "0.4"
serde = { version = "1", features = ["derive"] }
kms_sm = { git = "https://github.com/cita-cloud/kms_sm", package = "kms" }
kms_eth = { git = "https://github.com/cita-cloud/kms_eth", package = "kms" }
toml = "0.5"
hex = "0.4"
regex = "1"
rcgen = { version = "0.8", features = ["pem", "x509-parser"] }
x509-parser = "0.12"
rand = "0.8.4"
libsm = "0.4.0"
anyhow = "1"
fs_extra = "1.2"
k8s-openapi = { version = "0.14.0", features = ["v1_23"] }
serde_yaml = "0.8"
